### <font color = "green">How to `Print` </font>

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('Hello World!')

Hello World!

## Numbers and Variables

In [3]:
a = 4
a

4

In [4]:
# to check type
type(a)

int

In [5]:
print(a)

4

In [6]:
b = 2

In [8]:
print(a+b,a-b,a*b,a//b,a/b,a**b,a%b)

6 2 8 2 2.0 16 0

In [12]:
# to round off the values 
round(number = 10/3, ndigits = 2)

3.33

## Declaration

In [15]:
_a = 5
_a

5

In [16]:
_ = 5
_

5

In [17]:
_a == _

True

In [18]:
# to check the id of the variable
id(_a)

140730169555512

## Strings

In [19]:
a = 'hi'
a

'hi'

In [20]:
# accessing the string with index
a[0]

'h'

In [21]:
a[-1]

'i'

In [ ]:
# slicing operator
b = 'Pradyumn Tiwari'
# b[start(included): end(excluded), step]
# the default value of start is 0 and end is -1.
b[1:4]

'rad'

In [23]:
# to reverse the string
b[::-1]

'irawiT nmuydarP'

In [27]:
x = '"My name is "Pradyumn"'
x

'"My name is "Pradyumn"'

In [28]:
a = "hi" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# `*` repeats the same string that many types
a = "hi "*5
a

'hi hi hi hi hi '

In [ ]:
# `+` means concatination in the string
a = 'Pradyumn ' + 'tiwari'
a

'Pradyumn tiwari'

In [37]:
print("hi \nPradyumn Tiwari")

hi
Pradyumn Tiwari

In [38]:
print('hi \tPradyumn Tiwari')

hi 	Pradyumn Tiwari

## Formatting the Strings

In [39]:
a = 20
b = '20'
print("hi my value is "+ b)

hi my value is 20

In [ ]:
print("hi my value is "+ str(a)) # type of a and b are different

hi my value is 20

In [41]:
# f-strings
print(f"Hi my value is {a}")

Hi my value is 20

In [46]:
# format method
print("hi my value is {} {} ".format(a, b)) # type of a and b are different

hi my value is 20 20

## Converting DataTypes

In [48]:
a = "23"
b = 2
a + str(b) # converting 1 datatype into another

'232'

## user input

In [51]:
a = input("Enter the number: ")

In [52]:
type(a)

str

In [53]:
a = int(input("Enter the number: "))
type(a)

int

In [54]:
a + 4

9

## Conditionals

In [55]:
n = input("name ?")

In [56]:
if n == 'hi':
  print(1)
else:
  print(0)

0

In [ ]:
# elif is used for the nested conditionals
if n[1] == 'a':
  print(1)
elif (n[1] == 'b'):
  print(2)
else:
  print(3)

2

## Operators

In [58]:
False == False

True

In [59]:
True != False

True

In [ ]:
True > False
# True --> 1 and False --> 0

True

In [61]:
print(int(True), int(False))

1 0

In [62]:
True and False

False

In [63]:
True or False

True

In [66]:
not True

False

## is vs '=='

In [68]:
a = 1

In [69]:
a == 1

True

In [70]:
a is 1

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\pradu\AppData\Local\Temp\ipykernel_22836\3222642818.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 1

True

In [71]:
a = [1,2,3]
b = [1,2,3]

In [72]:
a == b

True

In [ ]:
# == is and assignment value (basically the value of 1 is equal to the value of another) whereas 'is' also considers the reference to the memory. basically two variables are pointing towards the same memory address
a is b

False

## Loops

In [83]:
for num in range(10):
  print(num, end =  ' ')

0 1 2 3 4 5 6 7 8 9

In [84]:
for num in range(1,10):
  print(num, end =  ' ')

1 2 3 4 5 6 7 8 9

In [85]:
for num in range(1,10,2):
  print(num, end =  ' ')

1 3 5 7 9

In [89]:
# in decreasing order
for num in range(10,1,-1):
  print(num, end = ' ')

10 9 8 7 6 5 4 3 2