### <font color = "green">How to `Print` </font>

In [1]:
print("Hello World!")

Hello World!

In [2]:
print('Hello World!')

Hello World!

## Numbers and Variables

In [3]:
a = 4
a

4

In [4]:
# to check type
type(a)

int

In [5]:
print(a)

4

In [6]:
b = 2

In [8]:
print(a+b,a-b,a*b,a//b,a/b,a**b,a%b)

6 2 8 2 2.0 16 0

In [12]:
# to round off the values 
round(number = 10/3, ndigits = 2)

3.33

## Declaration

In [15]:
_a = 5
_a

5

In [16]:
_ = 5
_

5

In [17]:
_a == _

True

In [18]:
# to check the id of the variable
id(_a)

140730169555512

## Strings

In [19]:
a = 'hi'
a

'hi'

In [20]:
# accessing the string with index
a[0]

'h'

In [21]:
a[-1]

'i'

In [ ]:
# slicing operator
b = 'Pradyumn Tiwari'
# b[start(included): end(excluded), step]
# the default value of start is 0 and end is -1.
b[1:4]

'rad'

In [23]:
# to reverse the string
b[::-1]

'irawiT nmuydarP'

In [27]:
x = '"My name is "Pradyumn"'
x

'"My name is "Pradyumn"'

In [28]:
a = "hi" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# `*` repeats the same string that many types
a = "hi "*5
a

'hi hi hi hi hi '

In [ ]:
# `+` means concatination in the string
a = 'Pradyumn ' + 'tiwari'
a

'Pradyumn tiwari'

In [37]:
print("hi \nPradyumn Tiwari")

hi
Pradyumn Tiwari

In [38]:
print('hi \tPradyumn Tiwari')

hi 	Pradyumn Tiwari

## Formatting the Strings

In [39]:
a = 20
b = '20'
print("hi my value is "+ b)

hi my value is 20

In [ ]:
print("hi my value is "+ str(a)) # type of a and b are different

hi my value is 20

In [41]:
# f-strings
print(f"Hi my value is {a}")

Hi my value is 20

In [46]:
# format method
print("hi my value is {} {} ".format(a, b)) # type of a and b are different

hi my value is 20 20

## Converting DataTypes

In [48]:
a = "23"
b = 2
a + str(b) # converting 1 datatype into another

'232'

## user input

In [51]:
a = input("Enter the number: ")

In [52]:
type(a)

str

In [53]:
a = int(input("Enter the number: "))
type(a)

int

In [54]:
a + 4

9

## Conditionals

In [55]:
n = input("name ?")

In [56]:
if n == 'hi':
  print(1)
else:
  print(0)

0

In [ ]:
# elif is used for the nested conditionals
if n[1] == 'a':
  print(1)
elif (n[1] == 'b'):
  print(2)
else:
  print(3)

2

## Operators

In [58]:
False == False

True

In [59]:
True != False

True

In [ ]:
True > False
# True --> 1 and False --> 0

True

In [61]:
print(int(True), int(False))

1 0

In [62]:
True and False

False

In [63]:
True or False

True

In [66]:
not True

False

## is vs '=='

In [68]:
a = 1

In [69]:
a == 1

True

In [70]:
a is 1

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\pradu\AppData\Local\Temp\ipykernel_22836\3222642818.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 1

True

In [71]:
a = [1,2,3]
b = [1,2,3]

In [72]:
a == b

True

In [ ]:
# == is and assignment value (basically the value of 1 is equal to the value of another) whereas 'is' also considers the reference to the memory. basically two variables are pointing towards the same memory address
a is b

False

## Loops

In [83]:
for num in range(10):
  print(num, end =  ' ')

0 1 2 3 4 5 6 7 8 9

In [84]:
for num in range(1,10):
  print(num, end =  ' ')

1 2 3 4 5 6 7 8 9

In [85]:
for num in range(1,10,2):
  print(num, end =  ' ')

1 3 5 7 9

In [89]:
# in decreasing order
for num in range(10,1,-1):
  print(num, end = ' ')

10 9 8 7 6 5 4 3 2

In [2]:
# while loop
n = 1
while n != 10:
  print(n, end = ' ')
  n += 1

1 2 3 4 5 6 7 8 9

In [4]:
i = 0
while i != 8:
  for a in range(0,5):
    print(a , end = ' ')
  print()
  i += 1

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

## Lists

In [5]:
tasks = ['install python', 'learn python', 'take a break']
tasks

['install python', 'learn python', 'take a break']

In [7]:
type(tasks)

list

In [8]:
a = 1
b = 2
c = [a,b]

In [9]:
c

[1, 2]

In [10]:
# length of the list
len(tasks)

3

In [11]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# accessing the lists
tasks[0]

'install python'

In [13]:
print(tasks[0], tasks[-1])

install python take a break

In [14]:
# reversing a list
tasks[::-1]

['take a break', 'learn python', 'install python']

In [15]:
'abc' in tasks

False

In [16]:
'install python' in tasks

True

In [17]:
'Install python' in tasks

False

In [18]:
for value in tasks:
  print(value)

install python
learn python
take a break

In [19]:
i = 0
while i < len(tasks):
  print(tasks[i])
  i += 1

install python
learn python
take a break

In [20]:
# append vs extend 
tasks.append("hi")

In [21]:
tasks

['install python', 'learn python', 'take a break', 'hi']

In [22]:
tasks.append([1,3,5])
tasks

['install python', 'learn python', 'take a break', 'hi', [1, 3, 5]]

In [23]:
tasks[-1]

[1, 3, 5]

In [ ]:
# to add multiple values or lists as elements of the original list use extend.
tasks.extend([1,2,3])
tasks

['install python', 'learn python', 'take a break', 'hi', [1, 3, 5], 1, 2, 3]

In [26]:
# insert
first_list = [1,2,3,4]
first_list.insert(2,'hi')
first_list

[1, 2, 'hi', 3, 4]

In [ ]:
first_list.insert(-1,'last')
first_list

[1, 2, 'hi', 3, 'last', 4]

## Clear

In [29]:
first_list.clear()

In [30]:
first_list

[]

In [31]:
# pop
first_list = [1,2,3,4]
first_list.pop()
first_list

[1, 2, 3]

In [ ]:
# pop take index value
first_list.pop(1)

2

In [33]:
first_list

[1, 3]

## Remove

In [34]:
# remove take element value
first_list = [1,3,3,4,2,2]
first_list.remove(2)
first_list

[1, 3, 3, 4, 2]

In [ ]:
# to count the value of any perticular element
first_list.count(3)

2

## List Comprehension

In [36]:
num = [1,2,3,4,5]
double_num = []
for i in num:
  a = i*2
  double_num.append(a)
double_num

[2, 4, 6, 8, 10]

In [37]:
a_list = [i*2 for i in num]
a_list

[2, 4, 6, 8, 10]

## Tuples

In [38]:
x = (1,2,3)

In [39]:
3 in x

True

In [40]:
x

(1, 2, 3)

In [41]:
list1 = [1,2,3]

In [42]:
list1[0] = 'abc'

In [43]:
list1

['abc', 2, 3]

In [ ]:
# tuples are not mutable
x[0] = 'abc'

TypeError: 'tuple' object does not support item assignment

In [45]:
# to change the value in the tuple
b = list(x)
b[0] = 'abc'
x = tuple(b)
x

('abc', 2, 3)

140730168467952 140730169555416